<h1>Editing grade</h1>

<%= error_messages_for :grade %>

<% form_for(@grade) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Club</b><br />
    <%= f.text_field :club %>
  </p>

  <p>
    <b>Notes</b><br />
    <%= f.text_field :notes %>
  </p>

  <p>
    <b>Display order</b><br />
    <%= f.text_field :display_order %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @grade %> |
<%= link_to 'Back', grades_path %>
